.hero .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.hero .logo {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.hero .title{
  display: flex;
}
.hero .pill-container {
  display: flex;
}
.hero .pill-container .pill-animation {
  width: 5rem;
  height: 5rem;
}